doctype html
html
	head
		meta(charset='utf-8')

		link(rel="stylesheet", href="/styles/main.css")
		link(rel="stylesheet", href="/styles/header.css")

		link(rel='stylesheet', href='/styles/other-pages/notfound.css')

		title Panel Enki RP
		link(rel='icon', href='/styles/images/favicon.ico', sizes='48x48', type='image/x-icon')

	body
		script 
		.header
			.header-logo
				a(href="/account")
					img(src="/styles/images/logo.png", alt="Логотип Enki RP")

		.wrapper
			.not-found
				img(src="/styles/images/notfound.png", alt="Не найдено!")
				h3 Страница не найдена!
				a(href="/account") На главную страницу