$borderRadius: 6px;
$padding: 4px;
$margin: 4px;
$transition: .3s;

$fontsize: 14px;

$zindex_null: 0;
$zindex_phone: 1;
$zindex_fullsize: 2;
$zindex_dialog: 3;

$zindex_hover: 4;
$zindex_wrapper: 5;
$zindex_hoverModal: 6;
$zindex_modal: 7;
$zindex_notify: 8;