@import '../../../../rules/variables.scss';

.phone {
    & .apppage.app-contacts {
        width: 100%;
        height: 100%;

        background-color: #1A1A1A;
        transition: .6s;
        
        padding: $padding $padding * 2;
        padding-top: calc($padding + 30px);

        position: relative;

        transform: translateY(200%);
        &.opened {
            transform: translateY(0);
        }

        & header {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            padding: $padding * 4 0;

            & h1 {
                text-align: center;
                font-size: $fontsize + 2px;
            }
            & button {
                position: absolute;

                right: 0;
                top: 50%;

                transform: translateY(-50%);

                background: linear-gradient(280.52deg, #3A3FC6 2.47%, #474DEE 101.89%);
                border-radius: $borderRadius;

                width: 25px;
                height: 25px;

                display: flex;
                align-items: center;
                justify-content: center;

                & svg {
                    color: white;
                }
            }
        }

        & .search {
            width: 100%;

            display: flex;
            align-items: center;

            background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
            border: 0.5px solid #FFFFFF33;

            border-radius: $borderRadius;
            overflow: hidden;

            & input {
                width: 100%;
                padding: $padding * 2;

                background-color: transparent;
                font-size: $fontsize - 2px;

                color: white;

                &::placeholder {
                    color: white;
                    opacity: .6;
                }
            }
            & svg {
                margin-left: $margin * 2;
                font-size: $fontsize + 2px;

                color: white;
            }
        }

        & .list {
            margin-top: $margin * 4;
            padding-bottom: 35px;

            height: calc(100% - 48px - 31px - $margin * 4);
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            & .elem + .elem {
                margin-top: $margin * 2;

                position: relative;
                &:before {
                    display: block;
                    content: "";

                    position: absolute;

                    top: -$margin;
                    right: 0;

                    background: linear-gradient(270deg, rgba(255, 255, 255, 0.1) -2.22%, rgba(255, 255, 255, 0) 100%);

                    width: 70%;
                    height: 1px;
                }
            }
            & .elem {
                display: flex;
                align-items: center;

                cursor: pointer;

                &:hover {
                    & .action {
                        transform: translateX(0);
                    }
                }

                & .desc {
                    margin-left: $margin * 2;

                    & .name {
                        font-size: $fontsize;
                        white-space: nowrap;
                    }
                    & .number {
                        margin-top: $margin * 1.5;
                        opacity: .6;

                        white-space: nowrap;
                    }
                }
                & .action {
                    width: 100%;

                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    gap: $padding;

                    transform: translateX(100%);
                    transition: $transition;

                    & button {
                        width: 25px;
                        height: 25px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        border-radius: $borderRadius;

                        &:first-child {
                            background: linear-gradient(116.1deg, #39C54F 22.11%, #199125 101.23%);
                        }
                        &:last-child {
                            background: linear-gradient(292.75deg, #D60707 -19.99%, #FFDD2D 131.08%);
                        }

                        & svg {
                            color: white;
                            font-size: $fontsize;
                        }
                    }
                }
            }
        }

        & .bottomshadow {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #111111 68.23%);

            position: absolute;

            bottom: 0;
            left: 0;

            width: 100%;
            height: 60px;
        }


        & .addcontact {
            position: absolute;
            z-index: $zindex_wrapper;

            bottom: 0;
            left: 0;

            width: 100%;
            height: 92%;

            background: linear-gradient(0deg, #232323, #232323);
            border-top: 1px solid #FFFFFF33;

            border-radius: $borderRadius * 2;
            transition: $transition;

            opacity: 0;
            visibility: hidden;
            
            transform: translateY(150%);
            &.show {
                opacity: 1;
                visibility: visible;

                transform: none;
            }

            & .title {
                text-align: center;
                padding: $padding * 4 0;

                font-size: $fontsize;
            }
            & .image {
                margin-top: $margin * 6;

                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                & h1 {
                    width: 100%;
                    text-align: center;
                    
                    margin-top: $margin * 2;
                    font-size: $fontsize - 2px;

                    white-space: nowrap;
                    cursor: pointer;
                }
            }
            & .form {
                margin-top: $margin * 4;
                padding: 0 $padding * 4;

                & .input + .input {
                    margin-top: $margin * 2;
                }
                & .input {
                    background-color: #FFFFFF0D;
                    border: 0.5px solid #FFFFFF66;

                    border-radius: $borderRadius;

                    display: flex;
                    align-items: center;

                    & input {
                        padding: $padding * 2;
                        width: 100%;

                        background-color: transparent;
                        color: white;
                    }
                    & svg {
                        margin-left: $margin * 2;
                        font-size: $fontsize;
                    }

                    &:nth-child(2) {
                        & svg {
                            font-size: $fontsize + 2px;
                            transform: translateY(-1px);
                        }
                    }
                }
            }

            & .action {
                position: absolute;

                bottom: 10%;
                left: 50%;

                transform: translateX(-50%);

                display: flex;
                align-items: center;
                gap: $margin * 2;

                & button {
                    padding: $padding * 2.5 $padding * 5;
                    font-size: $fontsize - 1px;

                    border-radius: $borderRadius;
                    color: white;

                    &:first-child {
                        background-color: #898989;
                    }
                    &:last-child {
                        background: linear-gradient(116.1deg, #39C54F 22.11%, #199125 101.23%);
                    }
                }
            }
        }

        & .addcontact.contactinfo {
            & .form {
                & button.delete {
                    background-color: #FC3737;
                    margin-top: $margin * 2;

                    padding: $padding * 1.5 $padding * 5;
                    font-size: $fontsize - 2px;

                    border-radius: $borderRadius / 2;
                    color: white;

                    width: 100%;
                }
            }
        }
    }
}